<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <!-- Título -->
    <div class="form-group row">
      <div class="col-md-6">
        <label for="title">Título:</label>
        <input formControlName="title" [(ngModel)]="task.title" id="title" type="text" class="form-control">
      </div>
    </div>

    <!-- Descripción -->
    <div class="form-group row">
      <div class="col-md-6">
        <label for="description">Descripción:</label>
        <textarea formControlName="description" [(ngModel)]="task.description" id="description" class="form-control"></textarea>
      </div>
    </div>

    <!-- Estado -->
    <div class="form-group row">
      <div class="col-md-6">
        <label for="status">Estado:</label>
        <select formControlName="status" [(ngModel)]="task.status" id="status" class="form-control">
          <option value="pending">Pendiente</option>
          <option value="in progress">En progreso</option>
          <option value="completed">Completada</option>
        </select>
      </div>
    </div>

    <!-- Botón de enviar -->
    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Actualizar</button>
  </form>
</div>
